@model int
<br />
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Order Submitted Successfully
        </h1><br />
        <img src="~/images/Successss.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:limegreen">
        <br />
        Thank you for your Order!!<br />
        We have received your Order and we will send a follow up Email shortly!<br />
        Your Order Number is: @Model
    </div>
</div>