<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-success w-75">Update</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-info w-75">Back To List</a>
    </div>
</div>